<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

    <title>new_menu</title>
    <!-- <link rel=stylesheet type=text/css href="{{url_for('static',filename='style.css')}}"> -->
</head>

<body>
    <div class="container">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">New Menu Item</h1>
            </div>
        </div>
        <form action="{{url_for('newMenuItem', restaurant_id=restaurant_id)}}" method="POST">
            <div class="form-group">
                <label for="editName">Name</label>
                <input id="editName" class="form-control" type="text" name="name" size="30">
            </div>
            <div class="form-group">
                <label for="editDes">Description</label>
                <input id="editDes" class="form-control" type="text" name="description" size="30">
            </div>
            <div class="form-group">
                <label for="editPrice">Price</label>
                <input id="editPrice" class="form-control" type="text" name="price" size="30">
            </div>
            <div class="form-group">
                <label for="editCourse">Course</label>
                <input id="editCourse" class="form-control" type="text" name="course" size="30">
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>